!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title MOKIO - CMS Open Source
    %meta{content: "MOKIO", name: "description"}/
    %meta{content: "MOKIO", name: "application-name"}/
    / Mobile Specific Metas
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag 'backend'
    = csrf_meta_tags
    = favicon_link_tag 'backend/favicon.ico'
    %link{href: "images/favicon.ico", rel: "shortcut icon"}/
  %body.loginPage
    .container-fluid
      #header
        .row-fluid
          .navbar
            .navbar-inner
              .container-fluid
                %a#logo.brand{href: "/", target: "_blank", title: "MOKIO - CMS Open Source"}
                  = image_tag asset_path("backend/mokio-logo.svg"), alt:"Logo MOKIO"
    .container-fluid
      .loginContainer.signupContainer
        %h2 
          = bt('sign_up')
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: true, autofocus: true, :wrapper => :input_span
            = f.input :password, required: true, :wrapper => :input_span
            = f.input :password_confirmation, required: true, :wrapper => :input_span
          .form-actions
            = f.button :submit, bt("sign_up"), class: 'btn btn-info', id: 'signupBtn'