= f.input :active, :wrapper => :active_checkbox, disabled: !@static_module.display_editable_field?('active')
= f.input :title, disabled: !@static_module.display_editable_field?('title')
= f.input :intro,   :wrapper => :ckeditor,  :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Mini', :height => 150} }, disabled: !@static_module.display_editable_field?('intro')
= f.input :content, :wrapper => :ckeditor,  :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Medium', :height => 400} }, disabled: !@static_module.display_editable_field?('content')
= f.input :lang_id, :as => :hidden, :input_html => { :value => (@static_module.lang_id.nil? ? 1 : @static_module.lang_id)}, disabled: !@static_module.display_editable_field?('lang_id')
= f.association :module_positions, :wrapper => :checkbox, :as => :check_boxes, disabled: !@static_module.display_editable_field?('module_positions')
= f.input :always_displayed, :wrapper => :active_checkbox, disabled: !@static_module.display_editable_field?('always_displayed')
= f.input :display_from, :wrapper => :date, :as => :string, :input_html => { :class => "mask-date display_from", :value => (localize(f.object.display_from) if f.object.display_from) }, disabled: !@static_module.display_editable_field?('display_from')
= f.input :display_to, :wrapper => :date, :as => :string, :input_html => { :class => "mask-date display_to", :value => (localize(f.object.display_to) if f.object.display_to) }, disabled: !@static_module.display_editable_field?('display_to')