!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title MOKIO - CMS Open Source
    %meta{content: "MOKIO", name: "description"}/
    %meta{content: "MOKIO", name: "application-name"}/

    / Mobile Specific Metas
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag 'backend'
    = csrf_meta_tags
    = favicon_link_tag 'backend/favicon.ico'

    %link{href: "images/favicon.ico", rel: "shortcut icon"}/
  %body.loginPage
    .container-fluid
      #header
        .row-fluid
          .navbar
            .navbar-inner
              .container-fluid
                %a#logo.brand{href: "http://www.bloomnet.eu", target: "_blank", title: "MOKIO - CMS Open Source"}
                  = image_tag "backend/mokio-logo.svg", alt:"Logo MOKIO"
    .container-fluid
      .loginContainer
        -#= bt("reset_password_instruction")
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.input :reset_password_token, as: :hidden
          = f.input :only_password, as: :hidden, value: true
          = f.full_error :reset_password_token
          .form-row.row-fluid
            -#= f.input :email, required: true, autofocus: true, :wrapper => :label_newline
            = f.input :password, label: t("activerecord.attributes.mokio/user.password"), required: true, autofocus: true, :wrapper => :label_newline
            = f.input :password_confirmation, label: t("activerecord.attributes.mokio/user.password_confirmation"), required: true, :wrapper => :label_newline
          %br
          -# = link_to bt("sign_up"), new_registration_path(resource_name)
          -#= f.button :submit, bt("sign_in"), class: 'btn btn-info', id: 'loginBtn'
          = f.button :submit, bt("change_password"), id:"loginBtn", class: 'btn btn-info'

        -#= link_to "ble ble", new_user_password_path(resource_name)