.span12
  = render :partial => "mokio/backend/common/notice"
  .box
    = box_title do 
      = bt("edit_password", User)
  .content
    = common_form do
      .row-fluid
        = simple_form_for [:backend, @user], :url => update_password_backend_user_path, :html => { :class => 'form-horizontal' } do |f|       
          = render :partial => "mokio/backend/users/form", :locals => {f: f, obj: @obj}
          .form-actions
            = btn_submit bt("save")
            = btn_cancel "/backend/users"
