.page-header
  %h4
    = bt("gallery")
    %small
      = obj.title
%ul#itemContainer.galleryView.sortable
  - obj.data_files.order_default.each do |photo|
    = render :template => 'mokio/backend/photos/photo', :locals => {photo: photo}

#edit-photo-form.modal.fade{:role =>"dialog", "aria-hidden" => "true", :style => "display:none;", "aria-labelledby" => "EditPhotoModalLabel"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title{:id => "EditPhotoModalLabel"}= "edit"

      #edit-photo-form-content.modal-body
        #loader

      .modal-footer
        %button.btn.btn-default.close-edit-photo-form{ :type => "button", "data-dismiss" => "modal"}= bt("close")

- content_for :js do
  = javascript_include_tag 'backend/photo_gallery/functions', :async => true
  = javascript_include_tag 'backend/photo_gallery/photoEditForm', :async => true
  = javascript_include_tag 'backend/photo_gallery/photo_gallery', :async => true