.shortcuts
  %ul
    %li.nav-heading
.sidenav
  .sidebar-widget{style: "margin: -1px 0 0 0;"}
    %h5.title{style: "margin-bottom:0"}= bt("sidebar_title", "backend.sidebar")
  .mainnav
    %ul#sidebar-ul
      %li.dashboard_nav
        %a{href: backend_root_path}
          %span.icon16.icomoon-icon-screen-2
          = bt("dashboard")
      - if can? :manage, Content
        %li.contentmanagment_nav
          %a{:href => backend_contents_path}
            %span.icon16.icomoon-icon-stats-up>
            = bt("content_management", "backend.sidebar")
      - if can? :create, Content
        %li.content_nav
          %a{href: "#"}
            %span.icon16.icomoon-icon-list-view-2>
            = bt("add_content", "backend.sidebar")
          %ul.sub
            %li
              %a{:href => new_backend_article_path}
                %span.icon16.icomoon-icon-pencil>
                = bt("article", "backend.sidebar")
            %li
              %a{href: new_backend_pic_gallery_path}
                %span.icon16.icomoon-icon-picture>
                = bt("pic_galery", "backend.sidebar")
            %li
              %a{href: new_backend_mov_gallery_path}
                %span.icon16.icomoon-icon-movie>
                = bt("mov_galery", "backend.sidebar")
            %li
              %a{href: new_backend_contact_path}
                %span.icon16.icomoon-icon-mail-3>
                = bt("contact", "backend.sidebar")
      - if can? :manage, Menu
        %li.menu_nav
          %a{href: backend_menus_path}
            %span.icon16.icomoon-icon-menu-2>
            = bt("menu", "backend.sidebar")
      - if can? :manage, StaticModule
        %li.static_module_nav
          %a{href: backend_static_modules_path}
            %span.icon16.icomoon-icon-cube>
            = bt("modules", "backend.sidebar")

      - if can? :manage, User
        %li.user_nav
          %a{href: backend_users_path}
            %span.icon16.entypo-icon-users
            = bt("users", "backend.sidebar")
            
  - if @obj_class == Content && params[:action] == "index"
    = render :partial => "mokio/backend/contents/content_info_widget"

