!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title MOKIO - CMS Open Source
    %meta{content: "MOKIO", name: "description"}/
    %meta{content: "MOKIO", name: "application-name"}/

    / Mobile Specific Metas
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag 'backend'
    = csrf_meta_tags
    = favicon_link_tag 'backend/favicon.ico'

  %body.loginPage
    .container-fluid
      #header
        .row-fluid
          .navbar
            .navbar-inner
              .container-fluid
                %a#logo.brand{href: "http://www.bloomnet.eu", target: "_blank", title: "MOKIO - CMS Open Source"}
                  = image_tag "backend/mokio-logo.svg", alt:"Logo MOKIO"
    .container-fluid
      .loginContainer
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "form-horizontal", id:"loginForm"}) do |f|
          .form-row.row-fluid
            = f.input :email, required: false, autofocus: true, :wrapper => :label_newline
            = f.input :password, required: false, :wrapper => :label_newline
          %br
          -# = link_to bt("sign_up"), new_registration_path(resource_name)
          = f.button :submit, bt("sign_in"), class: 'btn btn-info', id: 'loginBtn'
          -if flash[:alert] && flash[:alert] != t("devise.failure.unauthenticated")
            %div
              %label.error
                = flash[:alert]
        -# %br
        -# = link_to t("devise.link.forgot_password"), new_password_path(resource_name)
