%div{ :class => "menu_div active_#{menu.active} visible_#{menu.visible} fake_#{menu.fake}"}
  - if menu.fake
    %span.menu_name
      = menu.name
  - else
    - if menu.invisible_content
      %span.warning
        !
    - if menu.editable && menu.contents.empty? && menu.external_link.blank?
      %span.blank
        !   
    %span.menu_name
      = link_to menu.name, edit_url(menu.class, menu)
    %span.menu_details  
      %span.content_type
        = menu.content_type
      %span.updated
        = menu.updated_at_view
      %span.edit_buttons
        = table_controls_edit_btn(edit_url(menu.class, menu))
        - if menu.deletable
          = table_controls_delete_btn(obj_url(menu.class, menu), btc('confirm', Mokio::Menu))
        - else
          %span.blank-delete