<%= form_for file_type.new, :remote => true, :html => { :multipart => true, :id => "fileupload" } do |f| %>
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <% cache [:file_upload, obj] do %>
    <div class="fileupload-buttonbar">
        <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <span><%= bt("add_files") %></span>
        <%= f.hidden_field "imageable_id", :value => obj.id, name: "#{file_type.to_s.tableize.gsub('mokio/', '').singularize}[imageable_id]" %>
        <%= f.hidden_field "imageable_type", :value => obj.class, name: "#{file_type.to_s.tableize.gsub('mokio/', '').singularize}[imageable_type]" %>
        <%= f.file_field :data_file, multiple:true, name: "#{file_type.to_s.tableize.gsub('mokio/', '').singularize}[data_file]" %>
      </span>
      <button type="submit" class="btn btn-primary start">
        <span><%= bt("start_upload") %></span>
      </button>
      <button type="reset" class="btn btn-warning cancel">
        <span><%= bt("cancel_upload") %></span>
      </button>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files"></tbody>
    </table>
  <% end %>
<% end %>

<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
      <td>
        <span class="preview"></span>
      </td>
      <td>
        {% if (window.innerWidth > 480 || !o.options.loadImageFileTypes.test(file.type)) { %}
          <p class="name">{%=file.name%}</p>
        {% } %}
        <strong class="error text-danger"></strong>
      </td>
      <td>
        <p class="size">Processing...</p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
      </td>
      <td>
        {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
          <button class="btn btn-success edit" data-index="{%=i%}" disabled>
            <i class="glyphicon glyphicon-edit"></i>
            <span>Edit</span>
          </button>
        {% } %}
        {% if (!i && !o.options.autoUpload) { %}
          <button class="btn btn-primary start" disabled>
            <i class="glyphicon glyphicon-upload"></i>
              <span>Start</span>
          </button>
        {% } %}
        {% if (!i) { %}
          <button class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
              <span>Cancel</span>
          </button>
        {% } %}
      </td>
    </tr>
  {% } %}
</script>


<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">

</script>
